* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../assets/a.png");
    display: block;
    width:5px;
    height:5px;
}

#parent{
    border: none;
    z-index: -1;
    overflow: hidden;
}

.layout{
    position:absolute;

    background-color: rgba(255, 242, 249, 0);
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
}

.widget {
    text-align: center;
    background-color: rgba(81, 111, 162, 0.46);
    color: white;
    position: absolute;

    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}